

.left:hover, .right:hover {
    scale: 1.2;
}

.left:active, .right:active {
    background-color: aliceblue;

}

.setas {
    position: absolute; 
    width: 10vh;
    height: 10vh;
    top: 40vh;
    border: none;
    font-weight: 700;
    border-radius: 10vh;
    transition: .2s ease-in-out;

}

.left {
    left: 0vh;
}

.right {
    right: 0vh; 
}